<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fish!!</title>
</head>
<body>
    <form action="/propertyRecommender" method="POST">
        <p>Buy or Rent property?</p>
        <input type="radio" name="BuyOrRent" value="Buy" for="BuyOrRent">
        <label for="buy">Buy</label><br>
        <input type="radio" name="BuyOrRent" value="Rent" for="BuyOrRent">
        <label for="rent">Rent</label><br>

        <p>Property for Investment or Live-in?</p>
        <input type="radio" name="InvestmentOrLiveIn" value="Investment" for="InvestmentOrLiveIn">
        <label for="investment">Investment</label><br>
        <input type="radio" name="InvestmentOrLiveIn" value="Livein" for="InvestmentOrLiveIn">
        <label for="livein">Live-in</label><br>

        <p>How frequently do you travel?</p>
        <input type="radio" name="FrequencyOfTravel" value="Often" for="FrequencyOfTravel">
        <label for="often">Often</label><br>
        <input type="radio" name="FrequencyOfTravel" value="Sometimes" for="FrequencyOfTravel">
        <label for="sometimes">Sometimes</label><br>
        <input type="radio" name="FrequencyOfTravel" value="Rare" for="FrequencyOfTravel">
        <label for="rare">Rare</label><br>

        <p>Price-Range?</p>
        <input type="radio" name="PriceRange" value="priceLow" for="PriceRange">
        <label for="priceLow">Low</label><br>
        <input type="radio" name="PriceRange" value="priceMedium" for="PriceRange">
        <label for="priceMedium">Medium</label><br>
        <input type="radio" name="PriceRange" value="priceHigh" for="PriceRange">
        <label for="priceHigh">High</label><br>

        <p>Number of bedrooms</p>
        <input type="radio" name="bedrooms" value="bed1" for="bedrooms">
        <label for="bed1">1</label><br>
        <input type="radio" name="bedrooms" value="bed2" for="bedrooms">
        <label for="bed2">2</label><br>
        <input type="radio" name="bedrooms" value="bed3" for="bedrooms">
        <label for="bed3">3</label><br>
        <input type="radio" name="bedrooms" value="bed4" for="bedrooms">
        <label for="bed4">more than 3</label><br>

   
        <p>Area of the unit</p>
        <input type="radio" name="area" value="area1" for="bedrooms">
        <label for="area1">&lt;400 Sqft</label><br>
        <input type="radio" name="bedrooms" value="area2" for="bedrooms">
        <label for="area2">400-700 Sqft</label><br>
        <input type="radio" name="bedrooms" value="area3" for="bedrooms">
        <label for="area3">701-1500 Sqft</label><br>
        <input type="radio" name="bedrooms" value="area4" for="bedrooms">
        <label for="area4">1501-2000</label><br>
        <input type="radio" name="bedrooms" value="area5" for="bedrooms">
        <label for="area5">&gt;2000</label><br>


        <p>Do you prefer small space living concept?</p>
        <input type="radio" name="smallSpace" value="smallYes" for="smallSpace">
        <label for="smallYes">Yes</label><br>
        <input type="radio" name="smallSpace" value="smallNo" for="smallSpace">
        <label for="smallNo">No</label><br>

        <p>Your Expense vs Income ratio</p>
        <input type="radio" name="expenseRatio" value="expenseHigh" for="expenseRatio">
        <label for="expenseHigh">High</label><br>
        <input type="radio" name="expenseRatio" value="expenseMed" for="expenseRatio">
        <label for="expenseMed">Medium</label><br>
        <input type="radio" name="expenseRatio" value="expenseLow" for="expenseRatio">
        <label for="expenseLow">Low</label><br>
        
        <p>Your Savings vs Income ratio</p>
        <input type="radio" name="savingsRatio" value="savingsHigh" for="savingsRatio">
        <label for="savingsHigh">High</label><br>
        <input type="radio" name="savingsRatio" value="savingsMed" for="savingsRatio">
        <label for="savingsMed">Medium</label><br>
        <input type="radio" name="savingsRatio" value="savingsLow" for="savingsRatio">
        <label for="savingsLow">Low</label><br>

        <p>Number of Family Members</p>
        <input type="radio" name="family" value="fam1" for="family">
        <label for="fam1">1</label><br>
        <input type="radio" name="family" value="fam2" for="family">
        <label for="fam2">2</label><br>
        <input type="radio" name="family" value="fam3" for="family">
        <label for="fam3">3</label><br>
        <input type="radio" name="family" value="fam4" for="family">
        <label for="fam4">4 and more</label><br>    

        <p>Location Preference in Downtown?</p>
        <input type="radio" name="downtown" value="downtownYes" for="downtown">
        <label for="downtownYes">Yes</label><br>
        <input type="radio" name="downtown" value="downtownSometimes" for="downtown">
        <label for="downtownSometimes">Sometimes</label><br>
        <input type="radio" name="downtown" value="downtownNo" for="downtown">
        <label for="downtownNo">No</label><br>
      
        <p>Socially active?</p>
        <input type="radio" name="social" value="socialYes" for="social">
        <label for="socialYes">Yes</label><br>
        <input type="radio" name="social" value="socialNo" for="social">
        <label for="socialNo">No</label><br>

        <p>Do you commute frequently (daily transportation)?</p>
        <input type="radio" name="daily" value="dailyYes" for="daily">
        <label for="dailyYes">Yes</label><br>
        <input type="radio" name="daily" value="dailySometimes" for="daily">
        <label for="dailySometimes">Sometimes</label><br>
        <input type="radio" name="daily" value="dailyNo" for="daily">
        <label for="dailyNo">No</label><br>

        <p>Have you registered for an insurance?</p>
        <input type="radio" name="insurance" value="insuranceYes" for="insurance">
        <label for="insuranceYes">Yes</label><br>
        <input type="radio" name="insurance" value="insuranceNo" for="insurance">
        <label for="insuranceNo">No</label><br>

        <input class="submitBtn" type="Submit">


    </form>
</body>
</html>